/*------------------------------------*\
  > Sizes
  Size declaration reusable everywhere (for font-size, margin, etc)
\*------------------------------------*/

// Table convertation 'px' to 'rem'
// size-xx (xx stand for the desired size in pixel)
// ---------------------
$size-100: 6.25rem;
$size-56: 3.5rem;
$size-50: 3.125rem;
$size-48: 3rem;
$size-44: 2.75rem;
$size-40: 2.5rem;
$size-38: 2.375rem;
$size-36: 2.25rem;
$size-32: 2rem;
$size-30: 1.875rem;
$size-28: 1.75rem;
$size-26: 1.625rem;
$size-24: 1.5rem;
$size-22: 1.375rem;
$size-20: 1.25rem;
$size-18: 1.125rem;
$size-16: 1rem;
$size-15: .938rem;
$size-14: .875rem;
$size-12: .75rem;
$size-11: .6875rem;
$size-10: .625rem;
$size-8: .5rem;
$size-6: .375em;
$size-4: .25rem;
$size-3: .1875rem;
$size-2: .125rem;
