/**
 * Fonts stacks selected with the help of https://meowni.ca/font-style-matcher
 * and https://www.cssfontstack.com
 */
$font-title: "Gratimo Grotesk", Arial, "Verdana", system-ui, -apple-system, sans-serif !default;
$font-body: "Gratimo Grotesk", Arial, "Trebuchet MS", system-ui, -apple-system, sans-serif !default;

// sizes
$base-size: 100% !default;
$font-size-title: 1.4rem !default;
$font-weight-title: 700 !default;

$font-size-body: 1rem !default;
$font-weight-body: 400 !default;
$line-height-body: 1.5 !default;

// Colors
// ---------------------
// Primary
$primary-blue: #133DBD !default;
$primary-green: #65D78D !default;
$rb-primary-blue: #133DBD !default;

// Secondary
$secondary-grey: #63697d !default;
$secondary-blue: #3cbcfc !default;

// Shade
$primary-blue-d: #1542C9 !default;
$primary-blue-dd: #082479 !default;
$primary-blue-ddd: #041654 !default;
$primary-blue-l: #315ED1 !default;
$primary-blue-ll: #A8BEEA !default;
$primary-blue-lll: #E4EAF5 !default;
$primary-blue-llll: #F3F5FA !default;

$primary-green-l: #9be5b5 !default;
$primary-green-ll: #cff3dc !default;
$primary-green-lll: #eefbf2 !default;

$rb-primary-blue-d: #1542C9 !default;
$rb-primary-blue-dd: #082479 !default;
$rb-primary-blue-ddd: #041654 !default;
$rb-primary-blue-l: #315ED1 !default;
$rb-primary-blue-ll: #A8BEEA !default;
$rb-primary-blue-lll: #E4EAF5 !default;
$rb-primary-blue-llll: #F3F5FA !default;

// Various
$orange-flag: #e2530d !default;
$white: #fff !default;

// Grey shader
$grey-95: #f2f2f2 !default;
$grey-85: #d8d8d8 !default;
$grey-65: #a6a6a6 !default;
$grey-55: #737373 !default;

// Link & other
$color-link: $primary-blue !default;
$color-link-hover: $primary-blue-dd !default;

$color-body: $secondary-grey !default;
$color-background: #fff !default;

// Functional
$functional-success: #6ec880 !default;
$functional-error: #c4262e !default;
$functional-warning: #ebca73 !default;
$functional-warning-d: #a68f52 !default;
$functional-warning-l: #f2dda4 !default;
$functional-warning-lll: #fdf9f0 !default;

// Form & buttons
// ---------------------
$input-border-radius: $size-8 !default;
$button-border-radius: $size-22 !default;
$input-group-select-large-border-radius: $size-24 !default;

// Responsive
// ---------------------
/**
 * Breakpoints.
 * The first value is the name of the breakpoint (use for grid class generation)
 * The second value is the media query that the breakpoint fires at.
 *
 * @warning: xl breakpoint should only be used for gallery modal
 */
// $breakpoints: (
//     "x-small" "(max-width: 575px)",
//     "small" "(min-width: 576px)",
//     "medium" "(min-width: 768px)",
//     "desktop" "(min-width: 992px)",
//     "widescreen" "(min-width: 1200px)",
//     "xl" "(min-width: 1400px)",
//     "below-desktop" "(max-width: 991px)"
// ) !default;

// $max-width-x-small: 100% !default;
// $max-width-small: 540px !default;
// $max-width-medium: 720px !default;
// $max-width-desktop: 960px !default;
// $max-width-widescreen: 1140px !default;

// TMP Breakpoints test
// ---------------------
$breakpoints: (
    "x-small" "(max-width: 35.93rem)", // 575px
    "small" "(min-width: 36rem)", // 576px
    "medium" "(min-width: 48rem)", // 768px
    "desktop" "(min-width: 62rem)", // 992px
    "widescreen" "(min-width: 75rem)", // 1200px
    "xl" "(min-width: 87.5rem)", // 1400px
    "below-desktop" "(max-width: 61.93rem)" // 991px
) !default;

$max-width-x-small: 100% !default;
$max-width-small: 33.75rem !default;
$max-width-medium: 45rem !default;
$max-width-desktop: 60rem !default;
$max-width-widescreen: 71.25rem !default;

// Grid
$columns-amount: 12 !default;
$gutter: 1.25rem !default;

$max-column-width-small: calc(($max-width-small - ($gutter * $columns-amount)) / $columns-amount);
$max-column-width-medium: ($max-width-medium - ($gutter * $columns-amount)) / $columns-amount;
$max-column-width-desktop: ($max-width-desktop - ($gutter * $columns-amount)) / $columns-amount;
$max-column-width-widescreen: ($max-width-widescreen - ($gutter * $columns-amount)) / $columns-amount;

// Transition
// ---------------------
$easeInOutCubic: cubic-bezier(.645, .045, .355, 1) !default;

// Use by z (_functions.scss) to declare z-index
// Z Layer
// ---------------------
$z-layers: (
    "modal": 2000,
    "dropdown": 1950,
    "top-navigation": 1800,
    "sticky-footer": 1200,
) !default;
