// fonts
$font-title: "Montserrat", sans-serif !default;
$font-body: "PT Sans", sans-serif !default;

// sizes
$base-size: 100% !default;
$font-size-title: 1.4rem !default;
$font-weight-title: 700 !default;

$font-size-body: 1rem !default;
$font-weight-body: 400 !default;
$line-height-body: 1.5 !default;

// Colors
// ---------------------
$blue: #3d6ca9 !default;
$green: #65d78d !default;
$bright: #f7752a !default;
$fresh: #32bbff !default;

$storm-grey: #70768c !default;

$blue-firefly: #0e1a29;

$primary: $blue !default;
$secondary: $green !default;

// Shade
$primary-d: color-d($primary) !default;
$primary-dd: color-dd($primary) !default;
$primary-ddd: color-ddd($primary) !default;
$primary-l: color-l($primary) !default;
$primary-ll: color-ll($primary) !default;
$primary-lll: color-lll($primary) !default;

$secondary-d: color-d($secondary) !default;
$secondary-dd: color-dd($secondary) !default;
// $secondary-ddd: color-ddd($secondary);
$secondary-l: color-l($secondary) !default;
// $secondary-ll: color-ll($secondary);
// $secondary-lll: color-lll($secondary);

$fresh-d: color-d($fresh) !default;
// $fresh-dd: color-dd($fresh);
// $fresh-ddd: color-ddd($fresh);
$fresh-l: color-l($fresh) !default;
// $fresh-ll: color-ll($fresh);
// $fresh-lll: color-lll($fresh);

$bright-d: color-d($bright) !default;
// $bright-dd: color-dd($bright);
// $bright-ddd: color-ddd($bright);
$bright-l: color-l($bright) !default;
$bright-ll: color-ll($bright) !default;
// $bright-lll: color-lll($bright);

// Grey shader
$grey-91: #e9e9e9;
$grey-61: #9b9b9b;
$grey-50: #808080;

// Link & other
$color-link: $primary !default;
$color-link-hover: $primary !default;

$color-body: #63697e !default;
$color-background: #fff !default;

// Functional
$functional-success: #6bc97d !default;
$functional-error: #91273f !default;
$functional-warning: #eccb6d !default;

// Form & buttons
// ---------------------
$inputBorderRadius: 20px !default;
$buttonBorderRadius: $inputBorderRadius !default;
$inputGroupSelectLargeBorderRadius: 24px !default;

// Responsive
// ---------------------

/**
 * Breakpoints.
 * The first value is the name of the breakpoint (use for grid class generation)
 * The second value is the media query that the breakpoint fires at.
 *
 * @warning: xl breakpoint should only be used for gallery modal
 */
$breakpoints: (
    "x-small" "(max-width: 575px)",
    "small" "(min-width: 576px)",
    "medium" "(min-width: 768px)",
    "desktop" "(min-width: 992px)",
    "widescreen" "(min-width: 1200px)",
    "xl" "(min-width: 1400px)"
) !default;

$max-width-x-small: 100% !default;
$max-width-small: 540px !default;
$max-width-medium: 720px !default;
$max-width-desktop: 960px !default;
$max-width-widescreen: 1140px !default;

// Grid
$columns-amount: 12 !default;
$gutter: 20px !default;

// Transition
// ---------------------
$easeInOutCubic: cubic-bezier(.645, .045, .355, 1) !default;

// Use by z (_functions.scss) to declare z-index
// Z Layer
// ---------------------
$z-layers: (
    "modal": 2000,
    "dropdown": 1400,
    "sticky-footer": 1200,
) !default;
