// fonts
$font-title: "Montserrat", sans-serif !default;
$font-body: "PT Sans", sans-serif !default;

// sizes
$base-size: 100% !default;
$font-size-title: 1.4rem !default;
$font-weight-title: 700 !default;

$font-size-body: 1rem !default;
$font-weight-body: 400 !default;
$line-height-body: 1.5 !default;

// Colors
// ---------------------
$blue: #3f6da7 !default;
$green: #65d78d !default;
$grey: #63697d !default;
$fresh: #3cbcfc !default;
$bright: #cd4c02 !default;

// Primary
$primary-blue: $blue !default;
$primary-green: $green !default;

// Secondary
$secondary-grey: $grey !default;
$secondary-fresh: $fresh !default;
$secondary-bright: $bright !default;

// Shade
$primary-blue-d: color-d($primary-blue) !default;
$primary-blue-dd: color-dd($primary-blue) !default;
$primary-blue-ddd: color-ddd($primary-blue) !default;
$primary-blue-l: color-l($primary-blue) !default;
$primary-blue-ll: color-ll($primary-blue) !default;
$primary-blue-lll: color-lll($primary-blue) !default;
$primary-blue-llll: color-llll($primary-blue) !default;

$primary-green-d: color-d($primary-green) !default;
$primary-green-dd: color-dd($primary-green) !default;
$primary-green-ddd: color-ddd($primary-green) !default;
$primary-green-l: color-l($primary-green) !default;
$primary-green-ll: color-ll($primary-green) !default;
$primary-green-lll: color-lll($primary-green) !default;
//$primary-green-llll: color-llll($primary-green) !default;

// Grey shader
$grey-95: #f2f2f2 !default;
$grey-85: #d8d8d8 !default;
$grey-65: #a6a6a6 !default;
$grey-55: #737373 !default;

// Link & other
$color-link: $primary-blue !default;
$color-link-hover: $primary-blue-d !default;

$color-body: $secondary-grey !default;
$color-background: #fff !default;

// Functional
$functional-success: #6ec880 !default;
$functional-error: #c4262e !default;
$functional-warning: #ebca73 !default;

// Form & buttons
// ---------------------
$inputBorderRadius: $size-20 !default;
$buttonBorderRadius: $inputBorderRadius !default;
$inputGroupSelectLargeBorderRadius: $size-24 !default;

// Responsive
// ---------------------
/**
 * Breakpoints.
 * The first value is the name of the breakpoint (use for grid class generation)
 * The second value is the media query that the breakpoint fires at.
 *
 * @warning: xl breakpoint should only be used for gallery modal
 */
// $breakpoints: (
//     "x-small" "(max-width: 575px)",
//     "small" "(min-width: 576px)",
//     "medium" "(min-width: 768px)",
//     "desktop" "(min-width: 992px)",
//     "widescreen" "(min-width: 1200px)",
//     "xl" "(min-width: 1400px)",
//     "below-desktop" "(max-width: 991px)"
// ) !default;

// $max-width-x-small: 100% !default;
// $max-width-small: 540px !default;
// $max-width-medium: 720px !default;
// $max-width-desktop: 960px !default;
// $max-width-widescreen: 1140px !default;

// TMP Breakpoints test
// ---------------------
$breakpoints: (
    "x-small" "(max-width: 35.93rem)", // 575px
    "small" "(min-width: 36rem)", // 576px
    "medium" "(min-width: 48rem)", // 768px
    "desktop" "(min-width: 62rem)", // 992px
    "widescreen" "(min-width: 75rem)", // 1200px
    "xl" "(min-width: 87.5rem)", // 1400px
    "below-desktop" "(max-width: 61.93rem)" // 991px
) !default;

$max-width-x-small: 100% !default;
$max-width-small: 33.75rem !default;
$max-width-medium: 45rem !default;
$max-width-desktop: 60rem !default;
$max-width-widescreen: 71.25rem !default;

// Grid
$columns-amount: 12 !default;
$gutter: 1.25rem !default;

$max-column-width-small: calc(($max-width-small - ($gutter * $columns-amount)) / $columns-amount);
$max-column-width-medium: ($max-width-medium - ($gutter * $columns-amount)) / $columns-amount;
$max-column-width-desktop: ($max-width-desktop - ($gutter * $columns-amount)) / $columns-amount;
$max-column-width-widescreen: ($max-width-widescreen - ($gutter * $columns-amount)) / $columns-amount;

// Transition
// ---------------------
$easeInOutCubic: cubic-bezier(.645, .045, .355, 1) !default;

// Use by z (_functions.scss) to declare z-index
// Z Layer
// ---------------------
$z-layers: (
    "modal": 2000,
    "dropdown": 1950,
    "top-navigation": 1800,
    "sticky-footer": 1200,
) !default;
