/*------------------------------------*\
  > Alert
\*------------------------------------*/

.alert {
    width: 100%;
    margin: $size-24 0;
    background-color: $grey-95;
    color: $grey-55;
    padding: $size-18;
    font-family: $font-title;
    font-weight: $font-weight-title;
}

.alert--success {
    background-color: $functional-success;
    color: $primary-blue-dd;
}

.alert--error {
    background-color: $functional-error;
    color: #fff;
}