/*------------------------------------*\
  > Button
  All style & mixins for generic buttons
  \*------------------------------------*/

.button {
    display: inline-block;
    border: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    line-height: 1;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

// Specific for icon and label
.button__label,
.button__icon {
    display: inline-block;
    vertical-align: middle;
}

.button__label {
    line-height: $size-20;
}

// IE 11 FIX
// On IE 11 :active state make content of the button shifting of some pixel
// These bunch of rules should cancel this behaviour
.button:active .button__label,
.button:active .button__icon {
    position: relative;
    top: 0;
    left: 0;
}

// Button Mixin
// ---------------------

// Button Plain
// Button with plain background color
// eg. button--primary
@mixin button-plain($color, $theme: "bright") {
    position: relative;
    padding: $size-9 $size-20; // We substract 1px to padding (regarding the fygma doc) to take in account the 1px border
    background-color: $color;
    color: $primary-blue-dd;
    border: 1px solid $color;
    border-radius: $button-border-radius;
    font-family: $font-body;
    font-size: $size-16;
    font-weight: $font-weight-title;
    transition: background-color .1s $easeInOutCubic, color .2s $easeInOutCubic;

    // Hover, focus, active interactions
    &:hover {
        background-color: $primary-green-l;
        border-color: $primary-green-l;
    }

    &:focus,
    &:active,
    &.button--active {
        outline: none;
        border-radius: $button-border-radius;
        box-shadow: none;

        @if $theme == "dark" {
            border-color: #fff;
        }
        @else {
            border-color: $primary-blue-dd;
        }
    }

    // Icons
    .button__icon {
        display: inline-block;
        line-height: 100%;
        vertical-align: middle;
        margin-left: -$size-4;
        margin-right: $size-2;
        fill: $primary-blue-dd;
        width: $size-18;
        height: $size-18;
    }
}

// Button Outline Colored
// Button with transparent background, a colored border, and a colored label on dark mode
// eg. button--secondary
@mixin button-outline-colored($color, $theme: "bright") {
    position: relative;
    padding: $size-9 $size-20; // We substract 1px to padding (regarding the fygma doc) to take in account the 1px border
    background-color: transparent;
    border: 1px solid $color;
    border-radius: $button-border-radius;
    font-family: $font-body;
    font-size: $size-16;
    font-weight: $font-weight-title;
    transition: background-color .1s $easeInOutCubic, color .2s $easeInOutCubic;

    @if $theme == "dark" {
        color: $color;
    }
    @else {
        color: $primary-blue-dd;
    }

    // Icons
    .button__icon {
        display: inline-block;
        line-height: 100%;
        vertical-align: middle;
        margin-left: -$size-4;
        margin-right: $size-2;
        width: $size-18;
        height: $size-18;

        @if $theme == "dark" {
            fill: $color;
        }
        @else {
            fill: $primary-blue-dd;
        }
    }

    // Hover, focus, active interactions
    &:hover {
        border-color: $color;

        @if $theme == "dark" {
            background-color: rgba(101, 215, 141, .3); // $primary-green
        }
        @else {
            background-color: $primary-green-lll;
        }
    }

    &:focus,
    &:active,
    &.button--active {
        outline: none;
        box-shadow: none;

        @if $theme == "dark" {
            border-color: #fff;
        }
        @else {
            border-color: $primary-blue-d;
        }
    }

    &:focus .button__icon,
    &:active .button__icon,
    &.button--active .button__icon {
        @if $theme == "dark" {
            fill: #fff;
        }
        @else {
            fill: $primary-blue-dd;
        }
    }
}

// Button Outline White
// Button with transparent background, a colored border, and white label on dark mode
// eg. button--tertiary
@mixin button-outline-white($color, $theme: "bright") {
    position: relative;
    padding: $size-9 $size-20; // We substract 1px to padding (regarding the fygma doc) to take in account the 1px border
    background-color: transparent;
    border-radius: $button-border-radius;
    font-family: $font-body;
    font-size: $size-16;
    font-weight: $font-weight-title;
    transition: background-color .1s $easeInOutCubic, color .2s $easeInOutCubic;

    @if $theme == "dark" {
        color: #fff;
        border: 1px solid #fff;
    }
    @else {
        color: $color;
        border: 1px solid $primary-blue-l;
    }

    // Icons
    .button__icon {
        display: inline-block;
        line-height: 100%;
        vertical-align: middle;
        margin-left: -$size-4;
        margin-right: $size-2;
        width: $size-18;
        height: $size-18;

        @if $theme == "dark" {
            fill: #fff;
        }
        @else {
            fill: $color;
        }
    }

    // Hover, focus, active interactions
    &:hover {
        outline: none;

        @if $theme == "dark" {
            background-color: rgba(63, 109, 167, .35); // $primary-blue
        }
        @else {
            background-color: $primary-blue-lll;
        }
    }

    &:hover .button__icon {
        @if $theme == "dark" {
            fill: #fff;
        }
        @else {
            fill: $color;
        }
    }

    &:focus,
    &:active,
    &.button--active {
        outline: none;
        box-shadow: none;

        @if $theme == "dark" {
            border-color: #fff;
        }
        @else {
            border-color: $primary-blue-d;
        }
    }

    &:focus .button__icon,
    &:active .button__icon,
    &.button--active .button__icon {
        @if $theme == "dark" {
            fill: #fff;
        }
        @else {
            fill: $color;
        }
    }
}

// Button Text
// Button with transparent background and no border
// eg. button--text
@mixin button-text($color, $theme:"bright") {
    position: relative;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: $size-14;
    font-family: $font-body;
    font-weight: $font-weight-title;

    @if $theme == "dark" {
        color: #fff;
    }
    @else {
        color: $color;
    }

    // Icons
    .button__icon {
        width: $size-18;
        height: $size-18;

        @if $theme == "dark" {
            fill: #fff;
        }
        @else {
            fill: $color;
        }
    }

    &:hover {
        @if $theme == "dark" {
            color: $primary-blue-ll;
        }
        @else {
            color: $primary-blue-d;
        }
    }

    &:hover .button__icon {
        @if $theme == "dark" {
            fill: $primary-blue-ll;
        }
        @else {
            fill: $primary-blue-d;
        }
    }

    &:focus,
    &:active {
        outline: none;
        @if $theme == "dark" {
            box-shadow: 0 0 $size-2 $primary-blue-ll, inset 0 0 $size-2 $primary-blue-ll;
        }
        @else {
            box-shadow: 0 0 $size-2 $color, inset 0 0 $size-2 $color;
        }
    }

    .button__label {
        text-decoration: underline;
        margin-left: $size-4;
        margin-right: $size-4;
    }
}
// Button Transparent
// Button without any "style"
// e.g. Card Bookmark classified button
@mixin button-transparent($outline: "default") {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;

    @if $outline != "default" {
        &:focus {
            outline: $outline;
        }
    }

    &:disabled,
    &[disabled="disabled"],
    &[aria-disabled="true"],
    &.button-disabled {
        cursor: not-allowed;
    }
}

// Button definition
// ---------------------

// Button Primary
%button--primary,
.button--primary {
    @include button-plain($primary-green);
}

%button--primary--dark,
.button--primary--dark {
    @include button-plain($primary-green, "dark");
}

// Button Secondary
%button--secondary,
.button--secondary {
    @include button-outline-colored($primary-green);
}

%button--secondary--dark,
.button--secondary--dark {
    @include button-outline-colored($primary-green, "dark");
}

// Button Tertiary
%button--tertiary,
.button--tertiary {
    @include button-outline-white($primary-blue);
}

%button--tertiary--dark,
.button--tertiary--dark {
    @include button-outline-white($primary-blue, "dark");
}

// Button Text
%button--text,
.button--text {
    @include button-text($primary-blue);
}

%button--text--dark,
.button--text--dark {
    @include button-text($primary-blue, "dark");
}

// Button Bright
%button--bright,
.button--bright {
    @include button-plain($secondary-blue);
}

// Button Square
%button--square,
.button--square {
    border-radius: 0;
}

// Button Transparent
%button--transparent,
.button--transparent {
    @include button-transparent();
}

// Positions
// ---------------------
// Button on the right
.button--right {
    float: right;
}

// Sizes
// ---------------------

// Size Input
// Size use in input field
// eg input-search
%button--size-input,
.button--size-input {
    padding: 0 $size-10;
    height: 100%;
    line-height: 100%;
    font-size: $size-24;
}

// Size Small
// Smaller version of the button
// eg. Button use in PP Header
%button--size-small,
.button--size-small {
    padding-top: $size-4;
    padding-bottom: $size-6;
}

// Size Button
// Specific button size for button with an icon inside
// eg. Button use in PP Page to save
%button--size-icon,
.button--size-icon {
    padding-top: $size-7;
    padding-bottom: $size-7;
}

// Button Short Label
// Specific style for button with short label (use to avoid button rendering like a circle)
// eg. Button use in advance search location search
// ---------------------
.button--short-label {
    min-width: 50px;
}