/*------------------------------------*\
  > Button
  All style & mixins for generic buttons
  \*------------------------------------*/

.button {
    display: inline-block;
    border: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    line-height: 1;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

// Specific for icon and label
.button__label,
.button__icon {
    display: inline-block;
    vertical-align: middle;
}

.button__label {
    line-height: $size-20;
}

// IE 11 FIX
// On IE 11 :active state make content of the button shifting of some pixel
// These bunch of rules should cancel this behaviour
.button:active .button__label,
.button:active .button__icon {
    position: relative;
    top: 0;
    left: 0;
}

// Disable state
%button-disable,
.button:disabled,
.button[aria-disabled="true"],
.button.button-disabled {
    outline: none;
    cursor: not-allowed;
    pointer-events: none;
    color: $grey-65;

    @include media-query("desktop") {
        cursor: not-allowed;
        pointer-events: auto;
    }
}

// Button definition
// ---------------------

// Button Primary
%button--primary,
.button--primary {
    @include button-plain($primary-blue);
}

%button--primary--dark,
.button--primary--dark {
    @include button-plain($primary-green, "dark");
}

%button--primary--masquerade,
.button--primary--masquerade {
    @include button-plain($functional-warning, "masquerade");
}

// Button Secondary
%button--secondary,
.button--secondary {
    @include button-outline-colored($primary-blue);
}

%button--secondary--dark,
.button--secondary--dark {
    @include button-outline-colored($primary-green, "dark");
}

%button--secondary--masquerade,
.button--secondary--masquerade {
    @include button-outline-colored($functional-warning, "masquerade");
}

// Button Tertiary
%button--tertiary,
.button--tertiary {
    @include button-outline-white($primary-blue);
}

%button--tertiary--dark,
.button--tertiary--dark {
    @include button-outline-white($primary-blue, "dark");
}

%button--tertiary--masquerade,
.button--tertiary--masquerade {
    @include button-outline-white($primary-blue, "masquerade");
}

// Button Text
%button--text,
.button--text {
    @include button-text($primary-blue);
}

%button--text--dark,
.button--text--dark {
    @include button-text($primary-blue, "dark");
}

// Button Bright
%button--bright,
.button--bright {
    @include button-plain($secondary-blue);
}

// Button Square
%button--square,
.button--square {
    border-radius: 0;
}

// Button Transparent
%button--transparent,
.button--transparent {
    @include button-transparent();
}

// Positions
// ---------------------
// Button on the right
.button--right {
    float: right;
}

// Sizes
// ---------------------

// Size Input
// Size use in input field
// eg input-search
%button--size-input,
.button--size-input {
    padding: 0 $size-10;
    height: 100%;
    line-height: 100%;
    font-size: $size-24;
}

// Size Small
// Smaller version of the button
// eg. Button use in PP Header
%button--size-small,
.button--size-small {
    padding-top: $size-4;
    padding-bottom: $size-6;
}

// Size Button
// Specific button size for button with an icon inside
// eg. Button use in PP Page to save
%button--size-icon,
.button--size-icon {
    padding-top: $size-7;
    padding-bottom: $size-7;
}

// Button Short Label
// Specific style for button with short label (use to avoid button rendering like a circle)
// eg. Button use in advance search location search
// ---------------------
.button--short-label {
    min-width: 50px;
}
