/*------------------------------------*\
  > Top Navigation
  Website main navigation
\*------------------------------------*/

// Top Navigation
// ---------------------
.top-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 3.5rem;
    z-index: z("top-navigation");
    background: #fff;

    @include media-query("desktop") {
        border-bottom: 1px solid $primary-blue-lll;
    }
}

.top-navigation.open {
    height: 100%;
}

// Top Navigation Header
// Contain the logo and menu button
// ---------------------
.top-navigation__header,
.top-navigation__header--centered {
    padding: $size-16 $size-16 $size-16 $size-30;

    @include media-query("desktop") {
        padding: 0;
    }
}

.top-navigation__header {
    @include media-query("desktop") {
        background: transparent;
        display: inline-block;
    }
}

// Centered variation of top-navigation
// e.g beta landing page
.top-navigation__header--centered {
    width: 100%;
}

// Top Navigation Logo
// ---------------------
.top-navigation__logo {
    width: 7.375rem; // 118px
    display: inline-block;

    @include media-query("desktop") {
        margin-right: $gutter * 2; // 40px
    }

    @include media-query("widescreen") {
        width: 12.3125rem; // 197px
        margin-right: $gutter * 2.4; // 48px
    }
}

.top-navigation__logo-link {
    text-decoration: none;
    display: block;

    @include media-query("desktop") {
        height: 54px;
    }
}

.top-navigation__image {
    width: 100%;

    @include media-query("desktop") {
        height: 54px;
    }
}

// Centered variation of top-navigation
// e.g beta landing page
.top-navigation__logo--centered {
    width: 200px;
    margin: 0 auto;
}