/*------------------------------------*\
  > Form
\*------------------------------------*/

// Import
// ---------------------
// Inputs
@import "input-text";
@import "input-textarea";
@import "input-select";
@import "input-radio";
@import "input-checkbox";
@import "input-search";
@import "input-group";
@import "input-switch";

// General
// ---------------------
.form,
.field {
    width: 100%;
}

.form__button-clear {
    float: right;
}

// Field
// ---------------------
.field,
.field-row {
    position: relative;
    margin-bottom: $size-16;
}

.field-group,
.field--ingroup {
    position: relative;
    margin-bottom: $size-10;
}

// Field Text align
.field--center {
    text-align: center;
}

// Field Header, Field Title / Label / Description
.field__title,
.field__label,
.field__label--error,
.field__label--ingroup {
    display: block;
    margin-bottom: $size-2;
    font-family: $font-body;
    font-weight: $font-weight-title;
    font-size: $size-16;
    text-align: left;
}

.field__title::first-letter,
.field__label::first-letter,
.field__label--error::first-letter {
    text-transform: uppercase;
}

.field__title,
.field__label,
.field__label--error,
.field__description,
.field__annotation-text {
    word-break: break-word;
}

.field__title,
.field__description,
.field__label,
.field__label--ingroup,
.field__annotation-text {
    color: $secondary-grey;
}

.field__label--error {
    color: $functional-error;
}

.field__description,
.field__label--ingroup {
    font-size: $size-16;
}

.field__annotation-text {
    font-size: $size-14;
    margin: $size-8 0 0;
}

// Label Icon
.label__icon {
    fill: $primary-blue-dd;
}

.label__icon,
.label__text {
    display: inline-block;
    vertical-align: middle;
}

// Field Ingroup
// Field of a group
.field-group .field__title {
    font-family: $font-title;
    font-weight: $font-weight-title;
    font-size: $size-16;
    color: $primary-blue-dd;
}

/*.field-group .field__header .field__title,
.field-group .field__header .field__description {
    margin-bottom: 0;
    color: $primary-blue-dd;
}*/

.field--ingroup--inline {
    margin-bottom: $size-10;

    @include media-query("medium") {
        display: flex;
        align-items: center;
    }
}

.field__label--ingroup--inline {
    margin-bottom: $size-4;
    font-size: $size-16;
    font-weight: $font-weight-title;
    color: $secondary-grey;

    @include media-query("medium") {
        width: auto;
        max-width: 30%;
        display: inline-block;
        margin: 0;
    }
}

// field__label optional
.field__label--optional {
    display: inline-block;
    text-transform: lowercase;
    font-size: $size-13;
}

// Field Label Extra use to display minor extra info inside a label
.field__label--extra {
    font-size: $size-14;
    font-weight: $font-weight-body;
}

// Field Row
// Use to display field side by side
// ---------------------
.field-row {
    display: flex;
    justify-content: space-between;
}

.field-row__item {
    width: calc(50% - 10px);
}

// State messages
// ---------------------
%field-message {
    position: relative;
    font-size: $size-16;
    padding-left: $size-28;
    top: 0;
    left: 0;
    white-space: normal;
    display: inline-block;
    line-height: $size-20;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: $size-2;
        width: $size-18;
        height: $size-18;
        transform: translateY(-50%);
        background-size: $size-18 $size-18;
    }
}

.field__message--error {
    @extend %field-message;
    color: $primary-blue-dd;

    &:before {
        background-image: url("#{$public-path}images/icons/icon-validation-error.svg");
    }
}

.field__message--warning {
    @extend %field-message;
    color: $primary-blue-dd;

    &:before {
        background-image: url("#{$public-path}images/icons/icon-validation-warning.svg");
    }
}

.field__message--success {
    @extend %field-message;
    color: $primary-blue-dd;

    &:before {
        background-image: url("#{$public-path}images/icons/icon-validation-success.svg");
    }
}

.field__message--info {
    @extend %field-message;
    color: $primary-blue-dd;

    &:before {
        background-image: url("#{$public-path}images/icons/icon-validation-info.svg");
    }
}

.field__message--error:first-letter,
.field__message--warning:first-letter,
.field__message--success:first-letter,
.field__message--info:first-letter {
    text-transform: uppercase;
}

// Input Ingroup Inline
// ---------------------
.input--ingroup--inline {
    @include media-query("medium") {
        width: 70%;
        margin: 0 0 0 auto;
    }
}

// Error State
// ---------------------
.input--text,
.input--number,
.text-area {
    &:invalid {
        box-shadow: none;
    }
}

.input--error {
    border-color: $functional-error;
}

// Warning State
// ---------------------
.input--warning {
    border-color: $functional-warning;
}

// Modal theme
// ---------------------
.input--modal {
    background-color: #fff;
}
