/*------------------------------------*\
  > Input group
    Input group are multiple input visually grouped into one
    e.g. Input Stepper, Input From To or Homepage Search
\*------------------------------------*/

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group__abbr[title] {
    text-decoration: none;
}

.input-group__to,
.input-group__from,
.input-group__main {
    min-width: 0;
}

// Error state
.input-group--error:not(.focused) .input-group__from:not(:focus),
.input-group--error:not(.focused) .input-group__to:not(:focus),
.input-group--error:not(.focused) .input-group__from-to-label,
.input-group--error:not(.focused) .input-group--stepper__button:not(:focus),
.input-group--error:not(.focused) .input-group__main:not(:focus) {
    border-color: $functional-error;
}

// Prepend & Append
.input-group__prepend,
.input-group__append,
.input-group__from-to-label,
.input-group--stepper__button,
.input-group--select__button {
    font-family: $font-title;
    font-weight: $font-weight-title;
    font-size: $size-12;
    color: $primary-dd;
    text-transform: uppercase;
    line-height: $size-36;
    border: 2px solid $primary-ll;
    box-shadow: 0 0 0 2px inset #fff;
    min-height: $size-40;
}

.input-group__prepend,
.input-group__append,
.input-group__from-to-label,
.input-group--stepper__button {
    background-color: $primary-ll;
}

.input-group--select__button {
    background-color: $primary-lll;
}

.input-group__main--prepend:focus ~ .input-group__prepend,
.input-group__main--append:focus ~ .input-group__append,
.input-group__main--append:focus ~ .input-group--stepper__button {
    border-color: $primary-dd;
}

// Prepend
.input-group__prepend,
.input-group--stepper__button--prepend,
.input-group--select__button--prepend {
    padding: 0 $size-10 0 $size-16;
    border-right: 0;
    order: -1;
}

.input-group__prepend,
.input-group--stepper__button--prepend {
    border-top-left-radius: $inputBorderRadius;
    border-bottom-left-radius: $inputBorderRadius;
}

.input-group__main--prepend {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}


// Append
.input-group__append,
.input-group--stepper__button--append {
    padding: 0 $size-16 0 $size-10;
    border-top-right-radius: $inputBorderRadius;
    border-bottom-right-radius: $inputBorderRadius;
    border-left: 0;
}

.input-group__main--append {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

// From To
.input-group__from {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    padding-right: 0;
}

.input-group__to {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.input-group__from-to-label {
    border-left: 0;
    border-right: 0;
    padding: 0 $size-8;
    margin-bottom: 0;
}

.input-group.focused .input-group__from,
.input-group.focused .input-group__to,
.input-group.focused .input-group__from-to-label,
.input-group.focused .input-group--stepper__button {
    border-color: $primary-dd;
}

// Stepper
.input-group--stepper__main {
    text-align: center;
}

.input-group--stepper__button {
    cursor: pointer;
    position: relative;

    &:focus {
        outline: none;
        border-color: $primary-dd;
    }

    &:focus::after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        width: 2px;
        height: calc(100% + 4px); // 100% + 4px (addition of top and bottom border))
        background: $primary-dd;
    }

    &:disabled {
        background: $grey-91;
        color: $grey-61;
        cursor: not-allowed;
    }
}

.input-group--stepper__button--prepend:focus::after {
    right: -2px;
}

.input-group--stepper__button--append:focus::after {
    left: -2px;
}

// Select
// ---------------------
.input-group--select {
    position: relative;
    align-items: flex-start;
    flex-wrap: wrap;

    @include media-query("desktop") {
        flex-wrap: nowrap;
    }
}

.input--select--ingroup {
    position: static;
}

.input-group--select__button {
    cursor: pointer;
    position: relative;
    padding-right: 30px;
    background-image: url("#{$public-path}images/icons/icon-arrow-bottom.svg");
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    text-transform: unset;

    &:focus {
        outline: none;
        border-color: $primary-dd;
    }

    &:focus::after {
        content: "";
        display: block;
        position: absolute;
        z-index: z("dropdown");
        top: -2px;
        right: 0;
        width: 2px;
        height: calc(100% + 4px); // 100% + 4px (addition of top and bottom border))
        background: $primary-dd;
    }

    &:disabled {
        background: $grey-91;
        color: $grey-61;
        cursor: not-allowed;
    }
}

.input-group--select__button--prepend {
    border-top-left-radius: $inputGroupSelectLargeBorderRadius;
    border-bottom-left-radius: $inputGroupSelectLargeBorderRadius;
}

.input-group--select__list {
    width: auto;
}

.input-group--select__input {
    width: 100%;
    font-family: $font-title;
    background: #fff;
    color: $primary-dd;
    border: 2px solid $primary-ll;
    border-right: 0;
    border-top-left-radius: $inputGroupSelectLargeBorderRadius;
    border-bottom-left-radius: $inputGroupSelectLargeBorderRadius;
    padding: 0 $size-14;
    line-height: 1;
    min-height: $size-44;
    font-size: $size-16;
    outline: none;

    &:only-child {
        border-right: 2px solid $primary-ll;
        border-top-right-radius: $inputBorderRadius;
        border-bottom-right-radius: $inputBorderRadius;
    }

    &:focus {
        border-color: $primary-dd;

        @include media-query("desktop") {
            box-shadow: 4px 0 0 -2px $primary-ddd inset;
        }
    }

    // Placeholder Style
    &::placeholder {
        color: $primary-dd;
        opacity: .3;
    }

    &:disabled {
        background: $primary-llll;
        cursor: not-allowed;
    }

    @include media-query("desktop") {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-right: 0;
    }
}

.input-group--select__main {
    display: flex;
    width: 100%;
}

// Input group select size
.input-group--select__button,
.input-group--select__submit,
.input-group--select__input:only-child {
    min-height: $size-48;
}

.input-group--select__input:only-child,
.input-group--select__submit {
    border-top-right-radius: $inputGroupSelectLargeBorderRadius;
    border-bottom-right-radius: $inputGroupSelectLargeBorderRadius;
}

.input-group--select__submit {
    padding: 2px;
    border: 2px solid $primary-ll;
    border-left: 0;
}

.input-group--select__input:focus ~ .input-group--select__submit {
    border-color: $primary-dd;
}