/*------------------------------------*\
  > Input Switch
  Custom Checkbox Input that look like a switch (on/off) button
\*------------------------------------*/

.input--switch {
    position: relative;
    display: inline-block;
    margin-bottom: $size-10;
    width: 100%;
}

// Hide checkbox
.input--switch__input {
    position: absolute;
    left: 0;
    opacity: 0;
}

// Label
.input--switch__label {
    cursor: pointer;
    font-family: $font-body;
    font-weight: $font-weight-body;
    font-size: $size-16;
    color: $primary-blue-dd;
    line-height: $size-20;
    display: inline-block;
    width: calc(100% - #{$size-70});
}

// Box around the switch
.input--switch__label:before {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: $size-70;
    height: $size-36;
    background-color: $primary-blue-llll;
    border-radius: $size-20;
    transition: background-color .4s $easeInOutCubic;
    border: 1px solid $primary-blue-ll;
    cursor: pointer;
}

// Slider
.input--switch__label:after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(-$size-36, -50%);
    right: 0;
    height: $size-32;
    width: $size-32;
    background-color: $color-background;
    transition: transform .4s $easeInOutCubic;
    border-radius: $size-20;
    border: 1px solid $primary-blue;
}

// Checked State
.input--switch__input:checked + .input--switch__label::before {
    border: 1px solid $primary-blue-ll;
    background-color: $primary-blue;
}

.input--switch__input:checked + .input--switch__label::after {
    transform: translate(-$size-2, -50%);
}

// Focus State
.input--switch__input:active + .input--switch__label::before,
.input--switch__input:focus + .input--switch__label::before {
    border: 1px solid $primary-blue-dd;
}

// Hover State
.input--switch__input:hover + .input--switch__label::before {
    background-color: $primary-blue-ll;
}

// Modal theme
.input--modal.input--switch {
    background-color: transparent;
}

.input--modal .input--switch__label:before {
    background: #fff;
}

