/*------------------------------------*\
  > Input Radio
\*------------------------------------*/

// Input Radio
.input--radio {
    position: relative;
    // margin-bottom: $size-10;
}

.input--radio__input {
    position: absolute;
    left: 0;
    opacity: 0;
}

.input--radio__label {
    position: relative;
    padding-left: $size-28;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-weight: $font-weight-title;
    font-family: $font-title;
    font-size: $size-12;
    color: $primary-dd;
}

// Fake Radio Input
.input--radio__label:before {
    display: block;
    content: "";
    border-radius: 100%;
    height: $size-18;
    width: $size-18;
    border: 2px solid fade-out($primary, .7);
    left: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


// Fake Radio Active
.input--radio__label:after {
    display: block;
    content: "";
    border-radius: 100%;
    height: $size-10;
    width: $size-10;
    background: $secondary;
    left: $size-4;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.input--radio__input:checked + .input--radio__label:before {
    border-color: fade-out($primary, .9);
}

.input--radio__input:checked + .input--radio__label:after {
    opacity: 1;
}

// Focus State
.input--radio__input:focus + .input--radio__label:before {
    border-color: $primary-dd;
}

// .input--radio__input:checked:focus + .input--radio__label:before {
//     border-color: $primary-dd;
// }

// Disabled State
.input--radio__input:disabled + .input--radio__label {
    color: fade-out(#000, .8);
    cursor: not-allowed;
}

.input--radio__input:disabled + .input--radio__label:before {
    border-color: fade-out(#000, .9);
}

// Variation for radio inline
.input--radio--inline {
    margin-bottom: $size-10;

    @include media-query("medium") {
        display: inline;
        margin-left: $size-20;
        margin-bottom: 0;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}