/*------------------------------------*\
  > Input Checkbox
\*------------------------------------*/

.input--checkbox {
    position: relative;
    margin-bottom: $size-10;
}

.input--checkbox__input {
    position: absolute;
    left: 0;
    opacity: 0;
}

.input--checkbox__label {
    position: relative;
    padding-left: $size-28;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-weight: $font-weight-body;
    font-family: $font-body;
    font-size: $size-16;
    color: $primary-blue-dd;
}

/*.input--error .input--checkbox__label {
    color: $functional-error;
}*/

// Fake Checkbox Input
.input--checkbox__label:before {
    display: block;
    content: "";
    border-radius: 2px;
    height: $size-20;
    width: $size-20;
    border: 1px solid fade-out($primary-blue, 0);
    left: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input--error  .input--checkbox__label:before {
    border: 1px solid fade-out($functional-error, 0);
}


// Fake Checkbox Active
.input--checkbox__label:after {
    background: url("#{$public-path}images/icons/icon-checkmark.svg") no-repeat;
    content: "";
    display: block;
    position: absolute;
    fill: #fff;
    height: $size-10;
    width: $size-14;
    left: $size-3;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    line-height: 100%;
    color: #fff;
    margin: auto;
}

.input--checkbox__input:checked + .input--checkbox__label:before {
    border-color: $primary-blue;
    background: $primary-blue;
}

.input--error  .input--checkbox__input:checked + .input--checkbox__label:before {
    border-color: $functional-error;
    background: $functional-error;
}

.input--checkbox__input:checked + .input--checkbox__label:after {
    opacity: 1;
}

// Focus State
.input--checkbox__input:focus + .input--checkbox__label:before {
    border-color: $primary-blue-d;
}

.input--error .input--checkbox__input:focus + .input--checkbox__label:before {
    border-color: $functional-error;
}

.input--checkbox__input:checked:focus + .input--checkbox__label:before {
    border-color: $primary-blue-d;
}

.input--error .input--checkbox__input:checked:focus + .input--checkbox__label:before {
    border-color: $functional-error;
}

// Fake undeterminate
.input--checkbox__input:indeterminate + .input--checkbox__label:before {
    border-color: $primary-blue;
    background: $primary-blue;
}

.input--error .input--checkbox__input:indeterminate + .input--checkbox__label:before {
    border-color: $functional-error;
    background: $functional-error;
}

.input--checkbox__input:indeterminate + .input--checkbox__label:after {
    content: "";
    display: block;
    position: absolute;
    fill: #fff;
    height: $size-2;
    width: $size-11;
    left: $size-4;
    top: 50%;
    transform: translateY(-50%);
    line-height: 100%;
    color: #fff;
    margin: auto;
    opacity: 1;
    background: url("#{$public-path}images/icons/icon-checkmark-partial.svg") no-repeat;
}

// Focus State
.input--checkbox__input:indeterminate:focus + .input--checkbox__label:before {
    border-color: $primary-blue-d;
}

.input--error .input--checkbox__input:indeterminate:focus + .input--checkbox__label:before {
    border-color: $functional-error;
}

