/*------------------------------------*\
  > Input Text
  Text Like Input
\*------------------------------------*/

.input--text {
    line-height: $size-38;
    padding: 0 $size-12;
    border: 1px solid $primary-blue-l;
    border-radius: $input-border-radius;
    font-size: $size-16;
    color: $primary-blue-d;
    outline: none;
    width: 100%;
    min-height: $size-40;
    background-color: $primary-blue-llll;
    appearance: none;

    &:focus {
        border-color: $primary-blue-d;
        box-shadow: 0 0 0 1px $primary-blue-d;
    }

    &::placeholder {
        color: $primary-blue-l;
    }

    &:read-only,
    &:disabled {
        background: $grey-95;
        border-color: $secondary-grey;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

// Variation for input number
.input--text[type="number"]::-webkit-inner-spin-button,
.input--text[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.input--text[type="number"] {
    appearance: textfield;
}