/*------------------------------------*\
  > Input Radio
\*------------------------------------*/

// Input Radio
.input--radio {
    position: relative;
    margin: $size-12 0 $size-14 0;
}

.input--radio__input {
    position: absolute;
    left: 0;
    opacity: 0;
}

.input--radio__label {
    position: relative;
    padding-left: $size-30;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-weight: $font-weight-body;
    font-family: $font-body;
    font-size: $size-16;
    line-height: $size-20;
    color: $primary-blue-dd;
}

// Fake Radio Input
.input--radio__label:before {
    display: block;
    content: "";
    font-size: $size-16;
    border-radius: 100%;
    height: $size-20;
    width: $size-20;
    background: $primary-blue-llll;
    border: 1px solid $primary-blue-l;
    left: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// Fake Radio Active
.input--radio__label:after {
    display: block;
    content: "";
    font-size: $size-16;
    border-radius: 100%;
    height: $size-8;
    width: $size-8;
    background: $primary-blue;
    left: $size-6;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.input--radio__input:checked + .input--radio__label:before {
    border-color: $primary-blue-ll;
}

.input--radio__input:checked + .input--radio__label:after {
    opacity: 1;
}

// Focus State
.input--radio__input:focus + .input--radio__label:before {
    border-color: $primary-blue-d;
}

// Error State
.input--error .input--radio__label:before {
    border: 1px solid fade-out($functional-error, 0);
}

// Modal Theme
.input--modal.input--radio {
    background-color: transparent;
}

.input--modal .input--radio__label:before {
    background: #fff;
}

// Disabled State
.input--radio__input:disabled + .input--radio__label {
    color: $grey-85;
    cursor: not-allowed;
}

.input--radio__input:disabled + .input--radio__label:before {
    border: 1px solid $grey-85;
    background: $grey-95;
}

.input--radio__input:disabled + .input--radio__label:after {
    background: $grey-85;
}

// Variation for radio inline
.input--radio--inline {
    margin-bottom: $size-10;

    @include media-query("medium") {
        display: inline;
        margin-left: $size-20;
        margin-bottom: 0;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}