/*------------------------------------*\
  > Input group
    Input group are multiple input visually grouped into one
    e.g. Input Stepper, Input From To or Homepage Search
\*------------------------------------*/

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group__abbr[title] {
    text-decoration: none;
}

.input-group__to,
.input-group__from,
.input-group__main {
    min-width: 0;
}

// Error state
.input-group--error:not(.focused) .input-group__from:not(:focus),
.input-group--error:not(.focused) .input-group__to:not(:focus),
.input-group--error:not(.focused) .input-group--stepper__button:not(:focus),
.input-group--error:not(.focused) .input-group__main:not(:focus) {
    border-color: $functional-error;
    box-shadow: 0 0 0 1px $functional-error;
}

// Prepend, Append & Stepper
.input-group--prepend,
.input-group--append,
.input-group--stepper {
    border: 1px solid $primary-blue-l;
    border-radius: $input-border-radius;
}

.input-group__prepend,
.input-group__append,
.input-group--stepper__button {
    font-family: $font-body;
    font-weight: $font-weight-title;
    font-size: $size-18;
    color: $primary-blue;
    text-transform: uppercase;
    line-height: $size-32;
    min-height: $size-32;
    min-width: $size-34;
    border: 1px solid $primary-blue-l;
    background-color: $primary-blue-lll;
}

.input-group--prepend .input--text,
.input-group--append .input--text {
    box-shadow: none;
}

.input-group--prepend.focused,
.input-group--append.focused {
    border-color: $primary-blue-dd;
    box-shadow: 0 0 0 1px $primary-blue-dd;
}

// Stepper
.input-group--stepper.focused {
    border-color: $primary-blue-dd;
    box-shadow: 0 0 0 1px $primary-blue-dd;
}

.input-group--stepper__main {
    text-align: center;
    background-color: #fff;
    min-height: $size-38;

    &:focus {
        box-shadow: none;
    }
}

.input-group--stepper__button {
    cursor: pointer;
    position: relative;
    font-size: $size-18;

    &:hover {
        background-color: $primary-blue-ll;
        border-color: $primary-blue-ll;
        color: $primary-blue-d;
    }

    &:focus {
        outline: none;
        border-color: $primary-blue-d;
        box-shadow: 0 0 0 1px $primary-blue-d;
    }

    &:disabled {
        background: $grey-85;
        color: $grey-55;
        cursor: not-allowed;
        border-color: $grey-85;
    }
}

.input-group.focused .input-group--stepper__button {
    border-color: $primary-blue-lll;
    // box-shadow: 0 0 0 1px $primary-blue-d;
}

// Prepend
.input-group__prepend,
.input-group--stepper__button--prepend {
    padding: 0 $size-12 0 $size-12;
    border-radius: $size-6;
    margin-left: $size-2;
    order: -1;
}

.input-group__main--prepend {
    border: 0;
    background-color: #fff;
}

// Append
.input-group__append,
.input-group--stepper__button--append {
    padding: 0 $size-12 0 $size-12;
    border-radius: $size-6;
    margin-right: $size-2;
}

.input-group__main--append {
    border: 0;
    background-color: #fff;
}


// Select
// ---------------------
.input-group--select {
    position: relative;
    align-items: flex-start;
    flex-wrap: wrap;

    @include media-query("desktop") {
        flex-wrap: nowrap;
    }
}

.input-group--select__input {
    width: 100%;
    font-family: $font-title;
    background: #fff;
    color: $primary-blue-d;
    border: 2px solid $primary-blue-l;
    border-right: 0;
    border-top-left-radius: $input-group-select-large-border-radius;
    border-bottom-left-radius: $input-group-select-large-border-radius;
    padding: 0 $size-14;
    line-height: 1;
    min-height: $size-44;
    font-size: $size-16;
    outline: none;

    &:only-child {
        border-right: 2px solid $primary-blue-l;
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }

    &:focus {
        border-color: $primary-blue-d;

        @include media-query("desktop") {
            box-shadow: 4px 0 0 -2px $primary-blue-d inset;
        }
    }

    // Placeholder Style
    &::placeholder {
        color: $primary-blue-l;
        opacity: .3;
    }

    @include media-query("desktop") {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-right: 0;
    }
}

.input-group--select__main {
    display: flex;
    width: 100%;
}

// Input group select size
.input-group--select__submit,
.input-group--select__input:only-child {
    min-height: $size-48;
}

.input-group--select__input:only-child,
.input-group--select__submit {
    border-top-right-radius: $input-group-select-large-border-radius;
    border-bottom-right-radius: $input-group-select-large-border-radius;
}

.input-group--select__submit {
    padding: 2px;
    border: 2px solid $primary-blue-l;
    border-left: 0;
}

.input-group--select__input:focus ~ .input-group--select__submit {
    border-color: $primary-blue-d;
    box-shadow: 0 0 0 1px $primary-blue-d;
}