/*------------------------------------*\
  > Input Checkbox
\*------------------------------------*/

.input--checkbox {
    position: relative;
    margin: $size-12 0 $size-14 0;
}

.input--checkbox__input {
    position: absolute;
    left: 0;
    opacity: 0;
}

.input--checkbox__label {
    position: relative;
    padding-left: $size-28;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-weight: $font-weight-body;
    font-family: $font-body;
    font-size: $size-14;
    color: $primary-blue-dd;
    line-height: $size-18;
}

// Fake Checkbox Input
.input--checkbox__label:before {
    display: block;
    content: "";
    border-radius: 2px;
    height: $size-20;
    width: $size-20;
    border: 1px solid $primary-blue-l;
    background-color: $primary-blue-llll;
    left: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// Fake Checkbox Active
.input--checkbox__label:after {
    background: url("#{$public-path}images/icons/icon-checkmark.svg") no-repeat;
    background-size: $size-20 $size-20;
    content: "";
    display: block;
    position: absolute;
    fill: #fff;
    height: $size-20;
    width: $size-20;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    line-height: 100%;
    color: #fff;
    margin: auto;
}

.input--checkbox__input:checked + .input--checkbox__label:before {
    border-color: $primary-blue;
    background-color: $primary-blue;
}

.input--checkbox__input:checked + .input--checkbox__label:after {
    opacity: 1;
}

// Disabled State
.input--checkbox__input:disabled + .input--checkbox__label {
    color: $grey-85;
    cursor: not-allowed;
}

.input--checkbox__input:disabled + .input--checkbox__label:before {
    border: 1px solid $grey-85;
    background: $grey-95;
}

.input--checkbox__input:disabled:checked + .input--checkbox__label:before {
    background: $grey-85;
}

.input--checkbox__input:disabled + .input--radio__label:after {
    background: $grey-85;
}

// Fake undeterminate
.input--checkbox__input:indeterminate + .input--checkbox__label:before {
    border-color: $primary-blue;
    background-color: $primary-blue;
}

.input--checkbox__input:indeterminate + .input--checkbox__label:after {
    content: "";
    display: block;
    position: absolute;
    fill: #fff;
    height: $size-20;
    width: $size-20;
    line-height: 100%;
    color: #fff;
    margin: auto;
    opacity: 1;
    background-image: url("#{$public-path}images/icons/icon-checkmark-partial.svg");
    background-repeat: no-repeat;
}

// Focus State
.input--checkbox__input:focus + .input--checkbox__label:before {
    border-color: $primary-blue-d;
}

.input--checkbox__input:indeterminate:focus + .input--checkbox__label:before {
    border-color: $primary-blue-d;
}

.input--checkbox__input:checked:focus + .input--checkbox__label:before {
    border-color: $primary-blue-d;
}

// Error State
.input--error .input--checkbox__input + .input--checkbox__label:before {
    border-color: $functional-error;
}

.input--error .input--checkbox__input:checked + .input--checkbox__label:before {
    border-color: $primary-blue-d;
}

// Modal State
.input--modal .input--checkbox__input + .input--checkbox__label:before{
    background-color: #fff;
}