/*------------------------------------*\
  > Input Textarea
\*------------------------------------*/

.input--textarea {
    display: block;
    border: 1px solid $primary-blue-l;
    border-radius: $size-8;
    background: $primary-blue-llll;
    width: 100%;
    outline: none;
    padding: $size-4 $size-8 $size-16;
    resize: none;
    height: auto;
    min-height: $size-100;
    overflow: hidden;
    color: $primary-blue-d;
    font-size: $size-16;
    line-height: $size-22;

    &:focus {
        border-color: $primary-blue-d;
    }

    &::placeholder {
        color: $primary-blue-l;
    }
}

// Text area wrapper (use for counter)
.text-area {
    position: relative;
}

// Counter
// ---------------------
.input--text__counter,
.text-area__counter {
    font-size: $size-13;
    font-weight: $font-weight-body;
    color: $color-body;
}

.input--text__counter {
    display: block;
    text-align: right;
    margin-top: $size-2;
    padding-right: $size-8;
}

.text-area__counter {
    position: absolute;
    right: $size-5;
    bottom: 0;
}