/*------------------------------------*\
  > Input Search
    eg. Immocode in top navigation
\*------------------------------------*/

.input-search {
    display: flex;
    padding: 0 $size-12;
    border: 1px solid $primary-blue-l;
    border-radius: $input-border-radius;

    &.focused {
        border-color: $primary-blue-d;
        box-shadow: 0 0 0 1px $primary-blue-d;
    }
}

.input-search__input {
    border: 0;
    background: transparent;
    padding: 0;
    outline: none;
    width: 100%;
    min-width: 0;
    color: $primary-blue-dd;
    line-height: $size-38;
    min-height: $size-38;

    // Placeholder Style
    &::placeholder {
        color: $primary-blue-l;
    }
}