/*------------------------------------*\
  > Input Text
  Text Like Input
\*------------------------------------*/

.input--text {
    line-height: $size-36;
    padding: 0 $size-14;
    border: 2px solid $primary-blue-l;
    border-radius: $inputBorderRadius;
    font-size: $size-16;
    color: $primary-blue-dd;
    outline: none;
    width: 100%;
    min-height: $size-40;
    appearance: none;

    &:focus {
        border-color: $primary-blue-d;
    }

    // Placeholder Style
    &::placeholder {
        color: $primary-blue-l;
        opacity: .3;
    }
}

// Variation for input number
.input--text[type="number"]::-webkit-inner-spin-button,
.input--text[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.input--text[type="number"] {
    appearance: textfield;
}