/*------------------------------------*\
  > Layout.scss
  Define all general rules for layout component (container, etc)
\*------------------------------------*/

html {
    height: 100%;
}

body {
    height: 100%;
}

// Container
// ---------------------
.container {
    position: relative;
    width: 100%;
    max-width: $max-width-x-small;
    margin: 0 auto;
    display: block;

    @include media-query("small") {
        width: $max-width-small;
    }

    @include media-query("medium") {
        padding: 0;
        width: $max-width-medium;
    }

    @include media-query("desktop") {
        width: $max-width-desktop;
    }

    @include media-query("widescreen") {
        width: $max-width-widescreen;
    }
}

.container {
    padding: 0 $size-20;

    @include media-query("medium") {
        padding: 0;
    }
}

// Top Container Variation
.container--top-navigation,
.container--top-navigation-submenu {
    width: $max-width-x-small;
    margin: 0 auto;
    padding: 0;

    @include media-query("desktop") {
        width: $max-width-desktop;
        display: flex;
    }

    @include media-query("widescreen") {
        width: $max-width-widescreen;
    }
}

.container--top-navigation {
    @include media-query("desktop") {
        align-items: center;
        justify-content: space-between;
    }
}

.container--top-navigation-submenu {
    //width: 100%;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;

        @include media-query("desktop") {
            box-shadow: 0 0 50px rgba(0, 37, 79, .15);
        }
    }

    @include media-query("desktop") {
        padding-left: ($max-column-width-desktop * 2) + ($gutter * 1.75);
    }

    @include media-query("widescreen") {
        padding-left: ($max-column-width-widescreen * 2) + ($gutter * 3) + $size-4;
    }

    /*@include media-query("desktop") {
        // Sum of half of the difference between the total width and  desktop width, and logo width and margin right before beginning of menu
        padding-left: $size-215;
    }*/

    /*@include media-query("widescreen") {
        // Sum of half of the difference between the total width and  desktop width, and logo width and margin right before beginning of menu
        padding-left: calc(((100% - (#{column-width(3, widescreen, innner)} * 4)) / 2) + 12.3125rem + (#{$gutter} * 2.4));
    }*/
}

/*.container--top-navigation-submenu {
    @include media-query("desktop") {
        padding-left: ($max-column-width-desktop * 2) + ($gutter * 2);
    }

    @include media-query("widescreen") {
        padding-left: 238px;
    }
}*/
