.toggle__svg {
    position: absolute;

    opacity: var(--toggle-toggle-visible, 1);

    transition: var(--toggle-motion) $easeInOutCubic;
    transition-property: opacity, stroke, transform;
}

// Visible when checked (`--checked` is 1).
.toggle__svg--check {
    stroke: var(--toggle-check-color, #fff);

    transform:
        translateX(-70%)
        unquote('scale(max(0, var(--checked)))'); // 0 or 1

    .toggle--small & {
        width: $size-12;
        height: $size-9;
    }
}

// Visible when unchecked (`--checked` is -1).
.toggle__svg--cross {
    transform:
        translateX(80%)
        unquote('scale(min(0, var(--checked)))'); // 0 or -1

    .toggle--small & {
        width: $size-10;
        height: $size-10;
    }
}
