//====== Typography ======
// Import fontface and define various typography generic rules

// Global Typography
// ---------------------
html {

    /* Better font rendering (Mainly for Mac Os X) */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html,
body {
    color: $color-body;
}

// Title
// ---------------------
%title {
    font-family: $font-title;
    font-weight: $font-weight-title;
}

// H1
h1,
.title--1,
%title--1 {
    @extend %title;
    color: $primary-blue-dd;
    font-size: $size-24;

    @include media-query("desktop") {
        font-size: $size-30;
    }
}

// H2
h2,
.title--2,
%title--2 {
    @extend %title;
    color: $primary-blue-dd;
    font-size: $size-20;

    @include media-query("desktop") {
        font-size: $size-24;
    }
}

// H3
h3,
.title--3,
%title--3 {
    @extend %title;
    color: $primary-blue-dd;
    font-size: $size-18;

    @include media-query("desktop") {
        font-size: $size-20;
    }
}

// H4
h4,
.title--4,
%title--4 {
    @extend %title;
    color: $primary-blue-dd;
    font-size: $size-16;

    @include media-query("desktop") {
        font-size: $size-18;
    }
}


// H5
h5,
.title--5,
%title--5 {
    @extend %title;
    color: $primary-blue-dd;
    font-size: $size-14;

    @include media-query("desktop") {
        font-size: $size-16;
    }
}

// H6
h6,
.title--6,
%title--6 {
    @extend %title;
    color: $primary-blue-dd;
    font-size: $size-13;
}

// Dark
// ---------------------
.dark {
    color: $primary-blue-dd;
}

// Small
// ---------------------
small,
.small,
.small--dark {
    font-size: $size-14;
}

.small--dark,
.small--xs--dark {
    color: $primary-blue-dd;
}

.small--xs,
.small--xs--primary,
.small--xs--dark {
    font-size: $size-13;
}

// Link
// ---------------------

a {
    color: $color-link;
    font-weight: $font-weight-body;
    text-decoration: underline;
    background-color: transparent; // Remove the gray background on active links in IE 10.
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

    @include hover {
        color: $color-link-hover;
    }

    &:focus,
    &:active {
        outline: none;
        box-shadow: 0 0 $size-2 $primary-blue, inset 0 0 $size-2 $primary-blue;
    }
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}

// Link External
// Link with destination outside of the current website
// Add a small icon on right of the link
// ---------------------
.link--external {
    &::after {
        content: "";
        display: inline-block;
        background-image: url("#{$public-path}images/icons/material/sprite-link-external.svg");
        background-repeat: no-repeat;
        width: $size-16;
        height: $size-16;
        background-size: $size-30 $size-14;
        vertical-align: middle;
        text-align: center;
    }

    &:hover::after {
        background-position: calc(100%) 0;
    }
}

// Link Bold
// ---------------------
.link--bold {
    font-weight: $font-weight-title;
}

// Position Utility
// ---------------------
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: $font-weight-title;
}